@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Bonifacio Global City<br />
    Taguig, 1634<br />
    <abbr title="Phone">P:</abbr>
    657.8907
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Contact Us:</strong> <a href="mailto:Contact@example.com">Contact@example.com</a>
</address>
